@(label: String, action: Call, form: Form[PostContent])
@import helper.twitterBootstrap._

@helper.form(action = action) {
  @if(form.hasGlobalErrors) {
    <div class="alert alert-error">
      <p>Please resolve the following errors</p>
      <ul>
        @for(error <- form.globalErrors) {
          <li>@error.message</li>
        }
      </ul>
    </div>
  }
  <fieldset>
    @helper.inputText(form("author"), '_label -> "Author", 'autofocus -> "autofocus", 'required -> "required")
    @helper.inputText(form("title"), '_label -> "Title", 'size -> 80)
    @helper.textarea(form("body"), '_label -> "Content", 'cols -> 80, 'rows -> 10)
  </fieldset>

  <fieldset>
    <button class="btn btn-primary">@label</button>
    <a class="btn" href="@routes.PostsController.index()">Cancel</a>
  </fieldset>
}
