@(post: Post, form: Form[CommentContent], conflicts: Seq[PostEvent] = Nil)(implicit context: CurrentUserContext with UsersContext with FlashContext)
@import helper.twitterBootstrap._

@main(post.content.title) {
  <div class="well">
    <p>@post.content.body -- <em>by @post.author.displayName</em></p>
    <div class="btn-group">
      @if(context.currentUser.canEditPost(post)) {
        <a class="btn" href="@routes.PostsController.showEdit(post.id)">Edit</a>
      }
      <a class="btn" href="@routes.PostsController.index()">Back</a>
    </div>
  </div>

  @if(post.comments.nonEmpty) {
    <h2>Comments</h2>
    @for((commentId, comment) <- post.comments) {
      <br/>
      <div style="display: inline-block;">
        @comment.content.body -- <em>by @comment.commenter.displayName</em>
        @if(context.currentUser.canDeleteComment(post, comment)) {
          &nbsp; <form class="form-inline" style="display: inline-block;" action="@routes.PostsController.deleteComment(post.id, post.revision, commentId)" method="POST">
            <fieldset><button>&times;</button></fieldset>
          </form>
        }
      </div>
    }
  }

  <br/>
  <h2>Add a comment:</h2>

  @helper.form(action = routes.PostsController.addComment(post.id, post.revision)) {
    @globalErrorsPanel(form)
    @conflictsMessagePanel(conflicts)
    <fieldset>
      @context.currentUser.registered.map { user =>
        <p>Logged in as <a href="#">@user.displayName</a>. <a href="@routes.UsersController.logOut">Log out</a>.</p>
      }.getOrElse {
        @helper.inputText(form("name"), '_label -> "Name", 'required -> "required")
      }
      @helper.textarea(form("body"), '_label -> "Body", 'cols -> 80, 'rows -> 10)
    </fieldset>

    <fieldset>
      <button class="btn btn-primary">Submit</button>
    </fieldset>
  }
}
