@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index">Play! Blog</a>
                    <ul class="nav">
                        <li><a href="@routes.PostsController.index">Posts</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="container">
        <h1>@title</h1>
        @content
        </section>
    </body>
</html>
