@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index">Play! Blog</a>
                    <ul class="nav">
                        <li><a href="@routes.PostsController.index">Posts</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <form class="navbar-form">
                                <input type="text" class="span2" placeholder="Email...">
                                <input type="password" class="span2" placeholder="Password...">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </li>
                        <li><a href="@routes.UsersController.register.show"><em>or&nbsp;</em>register</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
        @flash()
        <div class="page-header">
        <h1>@title</h1>
        </div>
        @content
        </div>
        <script>
        $(function() {
          $(".alert").alert();
        });
        </script>
    </body>
</html>
